.textStandard{
  font-size: 28px;
  text-align: justify;
}

/*Scroll bar styling */
::-webkit-scrollbar {
    width: 15px;
    background: #333;
}


::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color:#A298C4
}

/* Header styling */

.topnav {
  position: fixed;
  width: 100%;
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #0E3F21;
  color: white;
}


/*Css for home page */
.jumbotron{
      background-image: url('/static/coverImages/MountainsCover.png');
      background-size: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      color:white !important;
      height:100vh;
}

.strongText{
  font-weight: 600;
  color: #2D2E44;
}


.selectionColour{
    color: #A298C4
}

.imageLinks{
    padding: 10px;
    margin: 10px;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 600px;
}

.imageLinks:hover{
    transform: scale(1.1);
}

.imageLinks div {
    transition: transform 2s ease;
}


.homeContainer {
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 10vh;
    align-content: center;
    text-align: center;
}

.homeContainerText{
    text-align: center;
    margin-top: 50px;
    color: #2D2E44;
}


.jumbotronContact{
    background-image: url('/static/coverImages/MountainsCover.png');
    background-size: 75%;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color:white !important;
    height:50vh;
}

.headingTitle{
    color: #A298C4;
    margin-top: 5vh;

}

.loadProgress{
    position: relative;
    border-radius: 15px;

    top: 40%;
    left: 15%;
    width: 70%;
    background-color: #2D2E44;
    z-index: 1;

}


.progressBar{
    border-radius: 15px;
    width: 15%;
    height: 50px;
    background-color: #A298C4;
    z-index: 1;
    text-align: center;
    line-height:  50px;
    color: white;
    font-size: 20px;

}


.loadScreen{
    background-color:  #333;
    position: fixed; width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 1;
    transform: translateY(0);

}


.fadeAway{
    opacity: 0;
    transition: all 1s;
    transform: translateY(100%);

}