<!-- Top nav bar, used to link between all pages. If the user is logged in, then the login page becomes account and vica
versa -->

<div class="topnav">
    <a href="{% url 'home' %}">Home</a>
    <a href="{% url 'select_location' '0' %}">Find your day out</a>
    <a href="{% url 'search_location' %}">Search for a location</a>


    {% if request.user.is_authenticated %}
    <a href="{% url 'accountPage' %}">Account</a>

    {% else %}

    <a href="{% url 'login' %}">Login</a>

    {% endif %}

    <a href="{% url 'contact' %}">Contact</a>

</div>

<br>
<br>










