<!-- Handles account management. Contains a list of all comments and favourites, as well as basic user information. This
page also allows the user to log out -->
{% extends 'core/main.html' %}

{% block content %}
    <br>
    <br>

    <div style="padding: 20px">

        <div class="leftContainer">
            <h1>{{ userDetails }}</h1>
            <h3>{{ userDetails.email }}</h3>
            <a href="{% url 'logout' %}">Logout</a>

            {% include 'components/user/fav_list.html' %}

        </div>

        <!-- TODO:, maybe have a reply section, so that we can see people who have replied to you -->
        <div class="rightContainer">
            <h2>Recent comments</h2>
            {% include 'components/user/comments.html' %}
        </div>
    </div>

{% endblock %}