<!-- Handles account management. Contains a list of all comments and favourites, as well as basic user information. This
page also allows the user to log out -->
{% extends 'core/main.html' %}

{% block content %}

    <div style="padding: 20px; display: grid; grid-template-columns: 50% 25% 25%">

        <div>
            <h1>{{ userDetails }}</h1>
            <h3>{{ userDetails.email }}</h3>
            <a href="{% url 'logout' %}">Logout</a>

            {% include 'components/user/fav_list.html' %}
        </div>

        <div>
            <h2>Your Comments</h2>
            {% include 'components/user/account_comments.html' %}
        </div>

        <div>
            <h2>Recent Replies</h2>
            {% include 'components/user/account_replies.html' %}
        </div>

    </div>

{% endblock %}