<!-- Used to use a map to select a location from a given area -->
{% extends 'core/main.html' %}

{% block content %}


{% load static %}

    <br>
    <br>

<div style="display: grid; grid-template-columns: 30% 70%">

    <!-- Information panel -->
    <div style="padding: 20px; display: grid; grid-template-rows: 20% 60% 20%">

        <!-- how to control the map -->
        {% include 'components/selection/map_controls.html' %}

        <!-- List of places that can be visited -->
        <div style="margin-bottom: 10px">
            {% include 'components/selection/place_selection.html' %}
        </div>

        <a class="btn btn-primary" style="text-align: center; padding: 70px" href="{% url 'place' travel_locations.0.name locations_list.0.place %}" id="LetsGo">Let's go!</a>


    </div>

    <div id="svgContainer" style="padding: 20px">

        <!--Zoom / X-pos / Y-pos / Recenter position -->
        {% include 'components/map/map_position.html' %}

        <!-- canvas for the map to be drawn on -->
        <svg id="svgImage" style="background-color: #E4F0FE; transform: rotateX(180deg)" fill-rule="evenodd" height="85vh" width="65vw" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">

            <!--Draw the raster maps-->
            {% include 'components/map/raster_maps.html' %}

            <!--Draw the county that was selected in the previous view -->
            {% include 'components/map/vector_location_place.html' %}

            <!--Draw the locations that matched the selected category on the map -->
            {% include 'components/map/vector_locations.html' %}

        </svg>

    </div>

</div>

<script src="{% static 'js/controls.js' %}"></script>
    <script src="{% static 'js/selection.js' %}"></script>


{% endblock content %}
