
{% extends 'core/main.html' %}

{% block content %}


{% load static %}

    <br>
    <br>
    <br>
    <br>

<div style="display: grid; grid-template-rows: 100px 250px; padding: 50px">

    <div style="display: grid; grid-template-columns: 70% 30%;">

        <div>

            {% include 'components/location/details.html' %}


            <br>

            {% include 'components/location/favourite_toggle.html' %}


        </div>

        <div>
            <label class="textStandard" for="PostCode">Get Directions from your post code</label>
            <input id="PostCode" type="text" class="textStandard" style="width: 100%">

        </div>

        <br>
        <br>
        <br>
        <br>

    </div>


    <!-- Comments section-->
    <div style="margin-top: 150px">
        <h2>Comments</h2>
        {% include 'components/location/write_comment.html' %}

        <br>

        {% include 'components/user/comments.html' %}


    </div>


</div>



{% endblock %}