<!--Search via text promote rather than via map -->

{% extends 'core/main.html' %}

{% block content %}

    <div style="padding: 50px">

        <h2 style="text-align: center">Where are you looking for?</h2>
        <form method="POST" action="">
        {% csrf_token %}
        <input style="width: 100%; text-align: center" type="text" name="searchName" placeholder="Type the Name of the location here...">

    </form>

            {% include 'components/search/search_location_conditional.html' %}

    </div>


{% endblock %}