
{% extends 'core/main.html' %}

{% block content %}

{% load static %}

    <br>
    <br>

<div style="display: grid; grid-template-columns: 30% 70%">

    <!-- Information panel -->
    <div style="padding: 20px">

        <!-- Selection of location -->
        {% include 'components/map/area_selection.html' %}
        <br>

        <!-- Selection of activity -->
        {% include 'components/activity_selection.html' %}

    </div>






    <div id="svgContainer" style="padding: 20px">

        <!--Zoom / X-pos / Y-pos / Recenter position -->
        {% include 'components/map/map_controls.html' %}


        <svg id="svgImage" style="background-color: #E4F0FE; transform: rotateX(180deg)" fill-rule="evenodd" height="85vh" width="65vw" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <style>
                path {
                    stroke-width: 0.05px;
                    stroke: black;

                }
            </style>


            <!-- Width and Height shouldn't change, but they are magic numbers as is... -->
            {% for map in raster_list %}
                <image x="{{ map.x }}" y="{{ map.y }}" width="{{ map.size }}" height="{{ map.size }}" id="{{ map.place }}" href='/static/images/{{ map.place }}.png'></image>
            {% endfor %}



            {% for location in locations_list %}
                <path onclick="SelectViaMapLocation(id)" d="{{location.svg}}" id="BD-{{location.place}}" style="fill: #A298C4; opacity: 80%"></path>
            {% endfor %}


        </svg>




    </div>

</div>

<script src="{% static 'js/controls.js' %}"></script>


{% endblock content %}
