asgiref==3.5.2
beautifulsoup4==4.11.1
certifi==2022.6.15
csvObject==0.8.1
cycler==0.11.0
Django==3.2.15
ExifRead==3.0.0
fonttools==4.34.4
imageObjects==0.13.6
kiwisolver==1.4.4
matplotlib==3.5.3
miscSupports==0.10.4
numpy==1.21.6
opencv-python==4.6.0.66
packaging==21.3
Pillow==9.2.0
pyparsing==3.0.9
pyproj==3.2.1
pyshp==2.3.1
python-dateutil==2.8.2
pytz==2022.1
PyYAML==6.0
Shapely==1.8.2
shapeObject==0.5.2
six==1.16.0
soupsieve==2.3.2.post1
sqlparse==0.4.2
typing_extensions==4.3.0
vectorObjects==0.7.2
