<!-- If the user is logged in, they can toggle the favourite button to add it to their favourite list; shown in the
account page. If they click it again, it is removed-->

{% if request.user.is_authenticated %}

    <form method="POST" action="">
        {% csrf_token %}
        <input type="hidden" name="favourite" value="">

        {% if favourite != True %}
            <input type="submit" name="favourite" class="btn" value="Add to Favourites?">

        {% else %}
            <input type="submit" name="favourite" class="btn" value="In your Favourites!" style="background-color: #A298C4; color: white">
        {% endif %}

    </form>
{% endif %}