
{% extends 'main.html' %}

{% block content %}

{% load static %}

    <br>
    <br>

<div style="display: grid; grid-template-columns: 30% 70%">

    <!-- Information panel -->
    <div style="padding: 20px">

        <!-- Selection of location -->
        {% include 'area_selection.html' %}
        <br>

        <!-- Selection of activity -->
        {% include 'activity_selection.html' %}

    </div>






    <div id="svgContainer" style="padding: 20px">

        <!--Zoom / X-pos / Y-pos / Recenter position -->
        {% include 'map_controls.html' %}


        <svg id="svgImage" style="background-color: gray; transform: rotateX(180deg)" fill-rule="evenodd" height="85vh" width="65vw" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <style>
                path {
                    stroke-width: 0.05px;
                    stroke: black;

                }
            </style>

            <!-- Show the map ONLY if it is within a bound. THis does mean we need to (somehow, create a relation map
            for the maps as well-->
            <image x="200" y="600" width="50" height="50" xlink:href='/static/images/HP.png'></image>
            <image x="200" y="550" width="50" height="50" xlink:href='/static/images/HU.png'></image>


{#            <!-- Width and Height shouldn't change, but they are magic numbers as is... -->#}
{#            <!-- map position is wrong -->#}
{#            {% for map in raster_list %}#}
{#                <image x="{{ map.x }}" y="{{ map.y }}" width="50" height="50" id="{{ map.place }}" xlink:href='/static/images/{{ map.place }}.png'></image>#}
{##}
{#            {% endfor %}#}

            {% for location in locations_list %}
                <path onclick="SelectViaMapLocation(id)" d="{{location.svg}}" id="BD-{{location.place}}" style="fill: lightblue"></path>
            {% endfor %}


        </svg>




    </div>

</div>

<script src="{% static 'js/controls.js' %}"></script>


{% endblock content %}
