
{% extends 'main.html' %}

{% block content %}
{% load static %}


<div id="cover">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="title display-3 text-center" style="padding-top: 50px"><strong class="strongText">To the Great Outdoors</strong></h1>
      <p class="lead headerString text-center selectionColour">Explore the wonder of the British Isles</p>
    </div>
  </div>
</div>

    <div style="margin-left: 20%; margin-right: 20%; margin-bottom: 10vh; align-content: center; text-align: center">

        <h1 class="selectionColour" style="padding: 20px">Our mission</h1>

        <p class="textStandard">
            Wonder exists all around the British Isles, and offers an affordable way to make new memories and have great
            experiences without the costs and ongoing problems with international travel. Join use, as we help you get
            safely adventure outwards, <strong class="selectionColour">To the Great Outdoors!</strong>
        </p>

        <br>

        <h2 class="selectionColour">Features</h2>
        <p class="textStandard">
            We help you find the right location for your day out. Be it a hike through the wilderness to a picnic in a
            park, we can help you find whats best suited for you. Don't just take our word for it, as each location has
            a <strong class="selectionColour">user review system</strong> where others (and you!), can leave vital
            feedback. Did a location promise wheel chair access but failed to deliver, or did they go out their way to
            make you feel welcome? Let us know, so we can all enjoy the outdoors, regardless of personal situations.
        </p>

        <br>
        <br>

    <div style="display: grid; grid-template-columns: 33% 33% 33%;">



        <a href="{% url 'select_location' %}">
            <div class="imageLinks" style="background-image: url('/static/coverImages/MountainsLink.png');">
                <p class="textStandard" style="text-align: center; margin-top: 50px; color: #2D2E44">Head outside</p>
            </div>
        </a>



        <div class="imageLinks" style="background-image: url('/static/coverImages/SearchLink.png');">
            <p class="textStandard" style="text-align: center; margin-top: 50px; color: #2D2E44">Search for a Location</p>
        </div>

        <div class="imageLinks" style="background-image: url('/static/coverImages/AccountLink.png');">
            <p class="textStandard" style="text-align: center; margin-top: 50px; color: #2D2E44">Setup an Account</p>
        </div>



    </div>



    </div>


    <div style="height: 40px; background-color: #333"></div>


{% endblock content %}
