<!--Map position data-->

<div style="display: grid; grid-template-columns: 25% 25% 25% 25%">
    <div>
      <p class="textStandard">Zoom: <span class="textStandard" id="zoomValue">1</span></p>
    </div>

    <div>
      <p class="textStandard">X-Position: <span class="textStandard" id="xPos">1</span></p>

    </div>

    <div>
      <p class="textStandard">Y-Position: <span class="textStandard" id="yPos">1</span></p>
    </div>

    <div>
      <button class="btn btn-primary" onclick="recenter()">Recenter </button>
    </div>
</div>