<div style="display: grid; grid-template-columns: 33% 33% 33%;">

    <a href="{% url 'select_location' %}">
        <div class="imageLinks" style="background-image: url('/static/coverImages/MountainsLink.png');">
            <p class="textStandard homeContainerText">Head outside</p>
        </div>
    </a>

    <div class="imageLinks" style="background-image: url('/static/coverImages/SearchLink.png');">
        <p class="textStandard homeContainerText">Search for a Location</p>
    </div>

    <div class="imageLinks" style="background-image: url('/static/coverImages/AccountLink.png');">
        <p class="textStandard homeContainerText">Setup an Account</p>
    </div>

</div>