<div style="display: grid; grid-template-columns: 33% 33% 33%;">

    <a href="{% url 'select_location' %}">
        <div class="imageLinks" style="background-image: url('/static/coverImages/MountainsLink.png');">
            <p class="textStandard" style="text-align: center; margin-top: 50px; color: #2D2E44">Head outside</p>
        </div>
    </a>


    <div class="imageLinks" style="background-image: url('/static/coverImages/SearchLink.png');">
        <p class="textStandard" style="text-align: center; margin-top: 50px; color: #2D2E44">Search for a Location</p>
    </div>

    <div class="imageLinks" style="background-image: url('/static/coverImages/AccountLink.png');">
        <p class="textStandard" style="text-align: center; margin-top: 50px; color: #2D2E44">Setup an Account</p>
    </div>



</div>