{% load static %}
<script src="{% static 'js/hideShow.js' %}"></script>


{% for com in comment_list %}

    <div style="padding-left: {{ com.reply_indent }}px">
        <!-- Allow users that are logged in to delete their messages -->
        {% if request.user == com.user %}
            <a href="{% url 'deleteMessage' com.id %}">Delete</a>
        {% endif %}

        <!-- Note who the user is, when the comment was created, and the comment -->
        <small>{{com.user}} {{com.created|timesince}} ago</small>
        <p>{{com.body}}</p>

        <!-- Allow individuals to reply to this comment-->
        {% include "components/user/reply.html" %}
        <br>

    <!--Nested function, if we have replies, then re-run this template but with comment_list not equal to reply_list-->
    {% if com.reply_list|length > 0 %}
        {% include "components/user/comment_reply.html" with comment_list=com.reply_list %}
    {% endif %}

    <!--If this is a level 0 comment, then add a horizontal break-->
    {% if com.comment_level == 0 %}
        <hr>
    {% endif %}

    </div>

{% endfor %}
